<div class="clown-and-profile">
  <div class="clowns">
    <div class="container">
      <h2 class="m-3 p-3">Your Clowns</h2>
      <div class="row">
        <% @clowns.each do |clown| %>
          <div class="col-sm-4">
            <div class="m-3 p-3">
              <div class="card" style="width: 18rem;">
                <div class="clown-image">
                  <% if clown.photos.first  %>
                    <%= cl_image_tag clown.photos.first.key, class:"card-img-top" %>
                  <% else %>
                    <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.postindependent.com%2Fwp-content%2Fuploads%2Fsites%2F6%2F2016%2F10%2Fcreepyclowns-atd-100616-827x1240.jpg&f=1&nofb=1" alt="Card image cap">
                  <% end %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= clown.name %></h5>
                  <p class="card-text"><%= clown.description %></p>
                  <div class="edit-price-box">
                    <div><%= link_to "Edit", edit_clown_path(clown), class:"btn btn-primary" %></div>
                    <p>$<%= clown.price %> / day</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="profile m-3 p-3">
    <div class="card profile-card" style="width: 18rem; ">
      <div class="card-body">
        <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
        <div><%= link_to "Create a Clown!", new_clown_path, class:"btn btn-primary" %></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="mr-5">
  <h2>Your Bookings</h2>
  <% if @bookings.length == 0 %>
    <p >You have no bookings!</p>
  <% else %>
    <ul class="bookings">
      <% @bookings.each do |booking| %>
        <li class="booking">
          <p><%= booking.clown.name %> from <%= booking.clown.user.first_name %> on <%= booking.start_date %> </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
