<h1>Create a new clown &#129313;</h1>

<div class="container">
  <%= simple_form_for @clown do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Create new clown", class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <%= link_to 'Return home', clowns_path, class: "btn btn-secondary" %>
</div>
