
<div class="container">
  <div>
    <h1>Meet <%= @clown.name %></h1>
  </div>

  <div class="card-container">
    <p><strong>Description:</strong> <%= @clown.description %></p>
    <p><strong>Price:</strong> $<%=@clown.price %></p>
      <div>
      <% @clown.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="container">
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  <%= link_to 'edit', edit_clown_path, class: "btn btn-secondary" %>
</div>
