<!DOCTYPE html>
<html>
  <head>
    <title>ClownSource</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <% if current_page?(root_path) %>
      <div class="home-nav home-nav-fixed">
        <div class="home-logo"></div>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="home-nav nav-grey">
        <div class="home-logo"></div>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>





    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
